*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: auto;
    height: 460px;
}
 /* sezione iniziale  */
.bordo{
    background-color: #255EE9;
    padding: 10px;
    height: 50px;

}

.contenitore{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    display: inline;
    padding-left: 40px;
}

.logo{
    padding: 5px;
    width: 223px;
}
.link{
    padding: 5px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.login{
    padding: 5px;
    width: 223px;
    display: flex;
    justify-content: flex-end;
}
.bottone{
    padding-left: 10px;
    padding-right: 10px;
    height: 39px;
    border-radius: 20px 20px 20px 20px;
}
.colorebotb{
background-color: rgb(255, 255, 255);
}
.fontacc{
font-size: 12px;
}

/* testo iniziale */

.blu{
    padding: 30px;
    background-size: cover;
}
.striscia1{
    margin: 0 auto;
    width: 600px;
    height: 300px;
    text-align: center;
    color: white;
}
.titolo-iniziale{
    font-size: 30px;
    padding-top: 70px;
}
.ps1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}
.font-bs1{
    font-size: 17px;
}


.colorebotn{
    color: white;
    background-color: rgb(39, 39, 39);
}
 /* inizio sezzioni */
.bianco{
    background-color: white;
    padding: 30px;
}
img{
    width: 100%;
}
.titolo-sez1{
    font-size: 30px;
}
.striscia{
    display: flex;
    width: 700px;
    margin: 0 auto;
}
.ps2{
    padding-top: 20px;
}

.st-1{
    width: 400px;
    height: 300px;
}
.st-2{
    width: 300px;
    height: 300px;
}

.grigio{
    background-color:  lightgrey;
    padding: 30px;
}
.striscia5{
    margin: 0 auto;
    width: 700px;
    height: 600px;
    text-align: center;
}
.titolo-st-finale{
    padding-top: 30px;
    padding-bottom: 20px;
}

.colorebotblu{
    color: white;
    background-color: #628fff;
}

.nero{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    
}

.st6-1{
    width: 300px;
    height: 600px;
    background-color: pink;
    border-style: dashed;
}

.st6-2{
    display: flex;
    width: 400px;
    background-color: blue;
}

.st-q{
    width: 100px;
    background-color: lightblue;
    height: 600px;
    border-style: dashed;
    border-color: white;
}
.box{
    margin: 0 auto;
    display: flex;
}

hr{
    color: lightslategray;
}

.sfinale{
    background-color: black;
    padding-top: 20px;
}

.fp{
    margin: 0 auto;
    display: flex;
    background-color: lightskyblue;
    width: 700px;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
}

.fp1{
   
    background-color: pink;
    border-style: dashed;
}

.fp2{
    background-color: pink;
    border-style: dashed;
}